body {
    display: flex;

}

.nav {

    flex-direction: row;
}

.nav ul a {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: black;
    padding: 5px;
    text-decoration: none;
    justify-content: right;



}

.nav a:hover {
    color: crimson;
}

.presentacion {
    flex-direction: column;
    margin: 10rem 5rem 10rem 5rem;

}

.presentacion h1 {
    font-size: xx-large;
    color: blueviolet;
}

.imagen img {
    margin-top: 10rem;
    background-color: bisque;
    max-height: 15rem;
    max-width: 22rem;
}

@media (max-width:480px) {
    .flex-container {
        display: flex;

    }

    .flex-container div {
        flex-basis: 100%;

    }
}